<button class="btn btn-primary" (click)="handleToUpload()">
  Upload Image
</button>
<div class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
<div class="row">
  <div class="col-4 mb-5" *ngFor="
  let image of images | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">

    <div class="card">


      <a role="button">
        <div class="card-img-top">
          <img src={{image.url}} class="img-fluid img-thumbnail" routerLink="/images/{{image.id}}">
        </div>
      </a>
      <div class="card-body">
        <p class="text-center">
          {{image.filename}}
        </p>
      </div>
    </div>
  </div>
</div>
