<div class="row">
  <app-housing-location class="col-4" *ngFor="let housingLocation of housingLocationList"
    [housingLocation]="housingLocation"></app-housing-location>
</div>
<div class="row">
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
  <div class="col-4">
    <p>heroes-list works!</p>
  </div>
</div>
