<button class="btn btn-primary" (click)="returnImages()">
  Back
</button>
<button class="btn btn-danger" (click)="deleteImage()">
  Delete image
</button>
<div class="row p-5">
  <div class="card col-4">
    <div class="card-body">
      Filename: {{image.filename}}
    </div>
    <div class="card-body">
      Content Type: {{image.contentType}}
    </div>
    <div class="card-body">
      Uploaded at: {{image.uploadedAt}}
    </div>
  </div>
</div>

<div class="row">
  <img src={{image.url}}>
</div>
