<button class="btn btn-danger" (click)="deleteImage()">
  Delete image
</button>
<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-4">
        Filename:
      </div>
      <div class="col-8">
        {{image.filename}}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Content Type:
      </div>
      <div class="col-8">
        {{image.contentType}}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Uploaded at:
      </div>
      <div class="col-8">
        {{image.uploadedAt}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <img src={{image.url}}>
</div>
